/* General Styles */
body {
    background-color: #fce4ec;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
}

#content {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #d81b60;
    font-size: 2.5em;
}

p {
    font-size: 1.3em;
    color: #444;
}

button {
    background-color: #d81b60;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #ad1457;
}

/* Slideshow Styles */
#slideshow {
    max-width: 600px;
    margin: 20px auto;
}

#slideshow img {
    width: 100%;
    border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
